extends layout

block content
    div(class='container-fluid starter-template' )
        div(class='row height-limiter-95')
            div(class='col')

            div(class='col')
                - var msg = '';
                if errors
                    for error in errors
                        - msg= msg + error.msg + '<br>';

                h3  Por favor, seleccione el bot
                | <br>

                form(class='form-group bot-form' method='POST' action='/monitor/conversations')                
                    ul(id='botlist')
                        each obj in bots
                            li
                                input(type='radio' name='id' value=obj._id)
                                b   #{obj.name} 
                                |   (#{obj._id}) 
                                span(class='badge badge-secondary' data-toggle="tooltip" data-placement="top" title=`${obj.count} respuestas`) #{obj.count}
                                |   &nbsp;
                                span(class='badge badge-primary' data-toggle="tooltip" data-placement="top" title=`${obj.conversations} conversaciones`) #{obj.conversations}                               
                    div(class='row')
                        div(class='col')
                            label   Fecha de Inicio
                        div(class='col')
                            label   Fecha de Fin
                    div(class='row')
                        div(class='col')
                            input(id="date1" name="date1" type="date" required="required")                            
                        div(class='col')
                            input(id="date2" name="date2" type="date" required="required")

                    |   <br>
                    button(type='submit' class='btn btn-primary')   Cargar conversaciones                                
                    |   <br>
                    |   <br>                    
                    div(class=`${errors?'alert alert-danger':''}` role="alert") !{msg}

            div(class='col')
