extends layout

block content
    div(class='starter-template' )
        div(class='row')
            div(class='col')

            div(class='' id='conversations' style='display:block;')
                div(class="" style='text-align:center;')
                    a(href="/monitor" class="btn btn-primary btn-sm" role="button")  Regresar
            
                table(class="tablesorter" id='conversationstable')
                    thead
                        tr
                            th  Conversaci칩n
                            th  Bot Id
                            th  Fechas
                            th  Usuarios
                            th  % Fallidas
                            th  Gr치fico
                    tfoot
                        tr
                            th  Conversaci칩n
                            th  Bot Id
                            th  Fechas
                            th  Usuarios
                            th  % Fallidas
                            th  Gr치fico
                    tbody
                        each c in conversations
                            tr(data-queries=c.queries data-total=c.count data-fallback=c.fallback)
                                td  #{c._id}
                                td  #{c.botid} 
                                td  #{c.ts}
                                td  #{c.users}
                                td  #{`${(parseFloat(c.percent)*100).toFixed(2)}%`}
                                td
                                    div(style="width:80px;")
                                        canvas
 
                div(class="pager")
                    img(src="/addons/pager/icons/first.png" class="first" alt="First")
                    img(src="/addons/pager/icons/prev.png" class="prev" alt="Prev")                    
                    span(class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows")
                    img(src="/addons/pager/icons/next.png" class="next" alt="Next")
                    img(src="/addons/pager/icons/last.png" class="last" alt="Last")
                    select(class="pagesize" title="Select page size")
                        option(value="10")  10
                    select(class="gotoPage" title="Select page number")
            
            div(class='' id='details' style='display:none;')
                div(class='' style='text-align:center;')
                    a(href="javascript:showConversations()" class="btn btn-primary btn-sm" role="button")  Regresar

                table(class="tablesorter" id='responsestable')
                        col(width="10%")
                        col(width="10%")
                        col(width="15%")
                        col(width="30%")
                        col(width="10%")
                        col(width="15%")
                        col(width="10%")
                        thead
                            tr
                                th  Fecha
                                th  User Id
                                th  User Name
                                th  Query
                                th  Action
                                th  Intent Name
                                th  Bot Id
                        tfoot
                            tr
                                th  Fecha
                                th  User Id
                                th  User Name
                                th  Query
                                th  Action
                                th  Intent Name
                                th  Bot Id
                        tbody
                        //- responses
    
                div(class="pager")
                    img(src="/addons/pager/icons/first.png" class="first" alt="First")
                    img(src="/addons/pager/icons/prev.png" class="prev" alt="Prev")                    
                    span(class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows")
                    img(src="/addons/pager/icons/next.png" class="next" alt="Next")
                    img(src="/addons/pager/icons/last.png" class="last" alt="Last")
                    select(class="pagesize" title="Select page size")
                        option(value="10")  10
                    select(class="gotoPage" title="Select page number")

            div(class='col')
