extends layout

block content
    div(class='container')
        - var msg = '';
        if errors
            for error in errors
                - msg= msg + error.msg + '<br>';

        h3  Por favor, seleccione el bot
        | <br>

        form(class='form-group' method='POST' action='/monitor/users')
            ul(id='botlist' class='height-limiter')
                each obj in bots
                    li
                        input(type='radio' name='id' value=obj.id)
                        b   #{obj.name} 
                        |   (#{obj.id}) 
                        span(class='badge badge-secondary' data-toggle="tooltip" data-placement="top" title=`${obj.count} conversaciones`) #{obj.count}
            |   <br>

            button(type='submit' class='btn btn-primary')   Cargar conversaciones            
            |   <br>
            |   <br>
            div(class=`${errors?'alert alert-danger':''}` role="alert") !{msg}
